<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Booksオンラインストア</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
  <div id="banner">
    <%=image_tag("log.png")%>
    <%=@page_title || "Pragmatic Bookself"%>
  </div>
  <div id="columns">
    <div id="side">
      <ul>
        <li><a href="http://www....">Home</a></li>
        <li><a href="http://www..../fag">Q&A</a></li>
        <li><a href="http://www..../news">News!</a></li>
        <li><a href="http://www..../contact">Contact</a></li>
      </ul>
    </div>

    <div id="main">
    <%= yield %>
    </div>

  </div>

</body>
</html>
